/* Layouts: Header */

@import '../settings/bootstrap.variables';

.header {
  
}
  .header-top {
    
  }
  .header-middle {
    background-color: $primary;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
    .header-left,
    .header-right {
      flex-grow: 1;
      flex-basis: 100%;
    }
    .header-left {
      text-align: left;
    }
    .header-brand {
      text-decoration: none;

      border: 0.25rem solid $dark;
      color: var(--bs-dark);
      font-size: 1.5rem;
      font-weight: 700;

      padding: 0.5rem 1.5rem;

      text-transform: uppercase;
    }
      .header-brand:hover {
        color: $dark;
      }
    .header-right {
      text-align: right;
    }
  .header-bottom {
    background-color: $primary;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }


/* Nav header */
.nav-header {
  
}
.nav-header .nav-link {
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-header .nav-link::before {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  width: 0;
  height: .25rem;
  background-color: $dark;
  transition: width 0.25s ease-in-out;
}
.nav-header .nav-link.active::before,
.nav-header .nav-link:hover::before {
  width: 100%;
}