// Layouts: Sections

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  position: relative;

  min-height: 12rem;
  &:nth-child(odd) {
    .section-title {
      left: auto; right: 0;
    }
  }
  &-title {
    position: absolute;
    top: 0; left: 0;
    color: rgba($primary, .35);
    font-size: 10rem;
    font-weight: 700;
    margin: 0 1rem;
    text-transform: uppercase;
  }
}

.section-service {
  padding-top: 7.5rem;
}

.section-products {
  position: relative;
  padding-top: 8.5rem;
  background-color: $primary;
  .section-title {
    color: rgba($dark, .5);
  }
}

.section-testimonial {
  padding-top: 8.5rem;
}

.section-contacts {
  padding-top: 0;
  padding-bottom: 0;
  height: 50vh;
}

// Hero
.section-hero{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: block;
    width: 100%;
  }
  &_contant{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  &_description{
    color: #787878;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
}
// SectionProducts
.section-products {
  position: relative;
  padding-top: 4.5rem;
  background-color: $primary;
  .section-title {
    color: rgba($dark, .5);
  }
}

.section-products_title{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #191919;
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}