// Layouts: Sections

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  position: relative;

  min-height: 12rem;
  &:nth-child(odd) {
    .section-title {
      left: auto; right: 0;
    }
  }
  &-title {
    position: absolute;
    top: 0; left: 0;
    color: rgba($primary, .35);
    font-size: 10rem;
    font-weight: 700;
    margin: 0 1rem;
    text-transform: uppercase;
  }
}

.section-service {
  padding-top: 7.5rem;
}

.section-products {
  background-color: $primary;
  .section-title {
    color: rgba($dark, .5);
  }
}

.section-testimonial {
  padding-top: 8.5rem;
}

.section-contacts {
  background-color: $dark;
  .section-title {
    color: rgba(white, .5);
  }
}
