.header{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #4a3b9f;
}
.header-logo a{
    font-size: 48px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.nav-link{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: white;
}
.nav-link:hover{
    color: rgb(255, 117, 62);
}